$font-size-h1-64:4rem;
$font-size-h2-28:1.75rem;
$font-size-h3-32:2rem;
$font-size-p-40:2.5rem;
$font-size-p-30:1.875rem;
$font-size-p-24:1.5rem;
$font-size-p-20:1.25rem;
$font-size-p-18:1.125rem;
$font-size-p-16:1rem;
$font-size-p-14:0.875rem;
$font-size-p-12:0.75rem;
$font-size-p-10:0.625rem;

$font-weight-med:500;
$font-weight-sbold:600;
$font-weight-bold:700;
$border:1px solid #222;
$color-point:#E8F1C7;
$color-white:#fff;

@mixin basic_txt {
    line-height:160%; letter-spacing:-2%;
}
@mixin basic_wide_txt {
    line-height:200%; letter-spacing:-2%;
}
@mixin en-font {
    font-family: "Cormorant Infant", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
@mixin h2 {
    @include en-font;
    font-size:6.25rem;
    font-weight:600;
    @include basic_txt
}
@mixin h1 {
    @include en-font;
    font-size:10rem; font-weight:$font-weight-bold;
    @include basic_txt;

}
@mixin basic_p {
    font-size:$font-size-p-20;
    /* font-size:reg */
    @include basic_txt;
}
@mixin big_p { 
    font-size:$font-size-p-30;
    @include basic_txt;
} 
@mixin small_p { 
    font-size:$font-size-p-16;
    /* font-size:reg */
    @include basic_txt;
} 
@mixin xsmall_p {
    font-size:$font-size-p-12;
    /* font-size:reg */
    @include basic_txt;
}
@mixin flex-row {
    display:flex; flex-flow:row nowrap;
}
@mixin flex-col {
    display:flex; flex-flow:column nowrap;
}