@use "./common.scss" as *;

body {
    /* 공통 */
    scroll-behavior:smooth;
    height:100vh;
    width:100vw; /* overflow-x:hidden; */
    * section {min-height:100vh; height:auto;}
    h2 { @include h2;
    }
    /* 개별 */
    header {
        width:100%; height:60px; padding:0 80px;
        position:fixed; top:0; left:0; z-index:999;
        @include flex-row; justify-content:space-between; align-items:center;
        border-bottom:$border;
        a {font-size:$font-size-p-16; font-weight:$font-weight-med; @include basic_txt;}
        nav {
            @include flex-row; gap:40px; align-items:center;
            a {font-weight:400;}
        }
    }
    header.scrolled {background-color:rgba(255,255,255,0.3);}
    main {
        section#cover {
            height:100vh;
            position:relative; z-index:997;
            background:url(../images/portfolio_bg8.png) center/cover no-repeat;
            border-bottom:$border;
            #ellipse_container {
                position:absolute; left:50%; top:50%; transform:translate(-50%,-50%) rotate(-20deg); z-index:998;
                width:1500px; height:900px;
                margin: 50px auto;
                .ellipse_wrap {
                    position:relative; width:100%; height:100%;
                    .ellipse_outline { /* 타원 윤곽선 */
                        position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);
                        width:1000px; height:500px;
                        border:$border; border-radius:50%;
                    }
                    .dot {/* 움직이는 점 */
                        position:absolute; width:16px; height:16px;
                        background:black; border-radius:50%;
                    }
                }
            }
            .main_contents{
                height:100%;
                @include flex-row;
                #sns {
                    width:60px; height:100%; padding:80px 0;
                    @include flex-col; gap:40px; justify-content:flex-end; align-items:center;
                    border-right:$border;
                    li {transform: rotate(270deg)}
                }
                .main_txt {
                    width:100%; padding:100px;
                    position:relative;
                    @include flex-col; justify-content:space-between;
                    h1 {
                        position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);
                        @include h1;
                    }
                    .desc1 {
                        width:100%;
                        @include flex-row; gap:120px; justify-content:right;
                        .desc {
                            font-size:$font-size-p-24; @include basic_txt;
                            em {font-weight:$font-weight-bold;}
                        }
                    }
                    .desc2 {
                        width:100%;
                        @include flex-row; justify-content:space-between;
                        .job_desc {font-size:$font-size-p-40; font-weight:$font-weight-med; @include basic_txt; @include en-font;}
                        .scroll_btn {
                            @include flex-col; align-items:center; z-index:999;
                            span {font-size:$font-size-p-24; font-weight:$font-weight-sbold; @include basic_txt; @include en-font;}
                            img {animation: float-up-down 2s ease-in-out infinite alternate;}
                            @keyframes float-up-down {
                                0% {transform:translateY(0);}
                                50% {transform:translateY(-15px);}
                                100% {transform:translateY(0);}
                            }
                        }
                    }
                }
            }
        }
        section#about_me {
            background:url(../images/portfolio_source.png) center/cover no-repeat;
            @include flex-col;
            border-bottom:$border;
            h2 {height:200px; text-align:center; line-height:2; flex-shrink:0; border-bottom:$border;}
            .contents {
                width:100%; height:auto;
                @include flex-row; align-items:stretch; flex-grow:1;
                .photo_section {
                    width:25%; height:auto; border-right:$border;
                    @include flex-col; align-items:center; justify-content:center; gap:24px;
                    img {width:250px; border-top-left-radius:500px; border-top-right-radius:500px;}
                    .profile {
                        h3 {
                            font-size:$font-size-p-24; font-weight:$font-weight-bold; @include basic_txt;
                            span {font-size:$font-size-p-16; @include basic_txt;}
                        }
                        .about_me_desc {
                            padding-top:16px;
                            font-size:$font-size-p-16; @include basic_txt;
                        }
                    }
                }
                .desc_section {
                    width: 75%;
                    @include flex-col; align-items:center;
                    .personal_info {
                        width:100%; padding:40px 80px; @include flex-row; gap:120px; align-items:flex-start; justify-content:center;
                        border-bottom:$border;
                        .about_me_area {
                            @include flex-col; gap:16px; align-items:flex-start;
                            h3 {font-size:$font-size-p-24; font-weight:$font-weight-bold; @include basic_wide_txt; @include en-font;}
                            .about_me_desc {font-size:$font-size-p-16; @include basic_txt;}
                        }
                    }
                    .skills {
                        width:100%; height:100%;
                        @include flex-col;
                        h3{
                            height:32px; flex-shrink:0;
                            font-size:$font-size-p-24; font-weight:$font-weight-bold; @include basic_txt; @include en-font;
                            border-bottom:$border; text-align:center;
                        }
                        .skills_wrap {
                            flex-grow:1;
                            @include flex-row; align-items:center; justify-content:center;
                            .skill_set {
                                padding:0 40px; @include flex-col; gap:24px;
                                .each_skill {
                                    height:96px; @include flex-row; gap:16px; align-items:center;
                                    .icon {
                                        width:60px; @include flex-col; justify-content:center; align-items:center; gap:4px;
                                        img {width:40px; height:40px;}
                                        span {font-size:$font-size-p-12; text-align:center;}
                                    }
                                    .desc {
                                        li {font-size:$font-size-p-14; @include basic_wide_txt;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        section#media {
            background:url(../images/portfolio_bg8.png) center/cover no-repeat;
            border-bottom:$border;
            position:relative;
            #media_swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        @include flex-row; flex-grow:1; align-items:stretch;
                        .txt_section {
                            @include flex-col;
                            width:30%; height:100%; text-align:center; border-right:$border;
                            h2 {width:100%; height:160px; flex-shrink:0; border-bottom:$border;}
                            .sns_profile {
                                position:relative; height:160px; padding:40px 0; text-align:center;
                                border-bottom:$border; flex-shrink:0;
                                .channel_info {
                                    height:100%;
                                    @include flex-row; justify-content:center; align-items:center; gap:12px;
                                    a > img {width:80px; height:80px; border-radius:50%;}
                                    .channel_txt {
                                        @include flex-col; align-items:flex-start;
                                        .channel_name {font-size:$font-size-p-16; font-weight:$font-weight-med; @include basic_wide_txt;}
                                        .channel_subscribers {font-size:$font-size-p-12; @include basic_wide_txt }
                                    }
                                }
                                a.explore_more {
                                    position:absolute; right:5%; top:50%; transform:translate(5%, -50%); z-index:998;
                                    width:40px; height:40px;
                                    img {width:100%; height:100%;}
                                }
                            }
                            .channel_desc {
                                width:100%; flex-grow:1; padding:80px;
                                @include flex-col; justify-content:center;
                                p {font-size:$font-size-p-18; @include basic_wide_txt;}
                                ul {
                                    li {font-size:$font-size-p-16; @include basic_wide_txt;}
                                }
                            }
                        }
                        .mockup_section {
                            width:70%;
                            @include flex-col;
                            .more_info {
                                @include flex-row; align-items:center; flex-grow:1;
                                padding:0 40px;
                                width:100%; height:130px; border-top:$border;
                                p {font-size:$font-size-h1-64; font-weight:$font-weight-bold; @include en-font; @include basic_txt;}
                            }
                        }
                    }
                }
            }
            .swiper-controls-group {
                position:absolute; right:2%; bottom:0;
                width:200px; height:130px; padding:20px;
                @include flex-row; justify-content:center; align-items:center;
                .swiper-button-prev {
                    width:40px; height:40px;
                    color:$color-light-gray;
                }
                .swiper-pagination {
                    position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);
                    width:auto; height:40px;
                    @include flex-row; gap:16px; justify-content:center; align-items:center;
                    color:$color-light-gray;
                    .swiper-pagination-current, .swiper-pagination-total {
                        font-size:$font-size-p-40; font-weight:$font-weight-med; @include en-font;
                        line-height:40px;
                    }
                    .swiper-pagination-total {font-size:$font-size-h3-32;}
                    .swiper-pagination-current {color:$color-black;}
                }
                .swiper-button-next {
                    width:40px; height:40px;
                    color:$color-black;
                }
            }
        }
        section#projects {
            @include flex-row; position:relative; border-bottom:$border;
            h2 {position:absolute; z-index:999; right:5%; top:5%; transform:translate(5%, -5%);
            }
            .project_card {
                position:relative;
                width:25%; border-right:$border;
                .project_card_wrapper {
                    width:100%;
                    @include flex-col; gap:20px;
                    position:absolute; left:0; bottom:0; padding:60px 40px; z-index:10;
                    .project_num {font-size:$font-size-h-100; font-weight:$font-weight-sbold; @include en-font-point;}
                    .project_name {font-size:$font-size-h1-56; font-weight:$font-weight-med; @include en-font;}
                    .hashtag_more {
                        width:100%;
                        @include flex-row; justify-content:space-between; align-items:flex-end;
                        .hashtag_section {
                            @include flex-col; gap:16px;
                            .hashtag {font-size:$font-size-p-24;}
                        }
                        .move_to_projects_btn {img {display:none;}
                        }
                    }
                }
            }
            .card1 {
                position:relative;
                background:url(../images/eather_bg.jpg) top/cover no-repeat;
            }
            .card1::before {
                content:"";
                position:absolute; top:0; left:0; width:100%; height:100%;
                background:url(../images/mockup_001.jpg) top/cover no-repeat;
                opacity:0; transition:opacity 0.1s ease; z-index:5;
            }
            .card1:hover.project_card_wrapper {
                z-index:10;
            }
            .card1:hover::before {opacity:1;}

            .card2 {background:url(../images/alter_bg.png) top/cover no-repeat;}
            .card3 {background:url(../images/portfolio_bg11.png) top/cover no-repeat;}
            .card4 {background:url(../images/marithe_bg2.png) top/cover no-repeat;}
        }
        section.project_section {
            background:url(../images/portfolio_bg11.png) center/cover no-repeat;
            border-bottom:$border;
            @include flex-row;
            .desc_section {
                position:relative;
                width:30%; padding:120px 60px; border-right:$border;
                @include flex-col; justify-content:center; gap:40px;
                .project_title {
                    .project_num {
                        color:rgba(0,0,0,0.2); font-size:$font-size-h-200; @include en-font-point;
                        position:absolute; top:-2%; left:-2%;
                    }
                    .project_name {
                        font-size:$font-size-h1-56; font-weight:$font-weight-med; @include en-font;
                    }
                }
                .project_desc {
                    padding-top:40px; border-top:$border;
                    @include flex-col; gap:40px;
                    p {
                        color:$color-gray;
                        font-size:$font-size-p-18; @include basic_wide_txt;
                    }
                    .project_hashtag {
                        color:$color-black;
                        font-size:$font-size-p-18
                    }
                    .project_tools {
                        @include flex-col; gap:16px;
                        p {font-size:$font-size-p-18; font-weight:$font-weight-med; @include basic_wide_txt;}
                        .tool_icon_sets {
                            @include flex-row; gap:20px;
                            li {
                                width:50px; height:50px;
                                img {width:100%; height:100%;}
                            }
                        }
                    }
                }
            }
            .mockup_section {
                position:relative;
                width:70%; @include flex-col; justify-content:space-between;
                .projects_index {
                    padding:40px 0;
                    @include flex-row; justify-content:center; gap:80px;
                    li {
                        a {
                            @include flex-col; gap:8px;
                            .project_num_index {
                                @include en-font-point; font-size:$font-size-p-40; font-weight:$font-weight-sbold;
                            }
                            .project_name_index {
                                @include en-font; font-size:$font-size-h3-32; font-weight:$font-weight-med;
                            }
                        }
                    }
                }
                .mockup{
                    height:80%;
                    background:url(../images/mockup_test.gif) top -10% left 20% /120% no-repeat;
                }
                .project_button_sets {
                    position:absolute; right:10%; top:50%; transform:translate(10%, -50%);
                    @include flex-col; justify-content:center; gap:40px;
                    .project_btn {
                        width:120px; height:120px; border-radius:100%; background:$color-point;
                        @include flex-row; gap:16px; justify-content:center; align-items:center;
                        a {
                            display:block; width:100%; height:100%;
                            font-size:$font-size-p-16; @include basic_txt; text-align:center;
                            @include flex-col; justify-content:center; align-items:center;
                        }
                    }
                }
            }
        }
        #project_04_marithe {
            .desc_section .project_title .project_name {font-size:$font-size-p-40;}
        }
        #project_01_esther {
            background:url(../images/eather_bg.jpg) center/cover no-repeat;
        }
        #project_02_alternativestereo {
            background:url(../images/alter_bg.png) center/20% repeat;
        }
        section#graphics {
            background:url(../images/portfolio_source.png) center/cover no-repeat;
            border-bottom:$border;
            @include flex-col; gap:120px; justify-content:center; align-items: center;
            #design_swiper {
                .swiper-wrapper {
                    .swiper-slide {height:450px;
                        a {
                            img {height:100%;}
                        }
                    }
                }
            }
        }
    }
    footer {
        padding:120px 0;
        background:url(../images/portfolio_bg8.png) center/cover no-repeat;
        @include flex-col; justify-content:center; align-items:center; gap:40px;
        h3 {font-size:$font-size-h3-32; font-weight:$font-weight-bold; @include en-font;}
        address {
            a {font-size:$font-size-p-18; @include basic_wide_txt;}
        }
        img {width:150px; height:150px;
        }
        p {font-size:$font-size-p-18; @include basic_wide_txt;}
        .buttons {
            #github_id {
                padding:16px; background-color:$color-white; border-radius:10px;
                font-size:$font-size-p-16;
            }
        }
    }
}

// 스크롤