@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
}

body {
  /* 공통 */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
body * section {
  min-height: 100vh;
  height: auto;
}
body h2 {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 6.25rem;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -2%;
}
body {
  /* 개별 */
}
body header {
  width: 100%;
  height: 60px;
  padding: 0 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #222;
}
body header a {
  font-size: 1rem;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -2%;
}
body header nav {
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;
  align-items: center;
  z-index: 999;
}
body header nav a {
  font-weight: 400;
}
body {
  /* header.scrolled {
      background-color:rgba(255,255,255,0.4);
  } */
}
body main {
  z-index: 90;
  overflow: hidden;
  height: 100%;
  padding-top: 60px;
  /* section 공통 */
}
body main section {
  width: 100%;
  height: 100vh;
}
body main section#cover {
  position: relative;
  z-index: 997;
  background: url(../images/portfolio_bg8.png) center/cover no-repeat;
  border-bottom: 1px solid #222;
}
body main section#cover #ellipse_container {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-48%, -50%) rotate(-20deg);
  z-index: 998;
  width: 1500px;
  height: 900px;
  margin: 50px auto;
}
body main section#cover #ellipse_container .ellipse_wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
body main section#cover #ellipse_container .ellipse_wrap .ellipse_outline { /* 타원 윤곽선 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 500px;
  border: 1px solid #222;
  border-radius: 50%;
}
body main section#cover #ellipse_container .ellipse_wrap .dot { /* 움직이는 점 */
  position: absolute;
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 50%;
}
body main section#cover .main_contents {
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
}
body main section#cover .main_contents #sns {
  width: 60px;
  height: 100%;
  padding: 80px 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  justify-content: flex-end;
  align-items: center;
  border-right: 1px solid #222;
}
body main section#cover .main_contents #sns li {
  transform: rotate(270deg);
}
body main section#cover .main_contents .main_txt {
  width: 100%;
  padding: 100px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
body main section#cover .main_contents .main_txt h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 10rem;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -2%;
}
body main section#cover .main_contents .main_txt .desc1 {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 120px;
  justify-content: right;
}
body main section#cover .main_contents .main_txt .desc1 .desc {
  font-size: 1.5rem;
  line-height: 160%;
  letter-spacing: -2%;
}
body main section#cover .main_contents .main_txt .desc1 .desc em {
  font-weight: 700;
}
body main section#cover .main_contents .main_txt .desc2 {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
body main section#cover .main_contents .main_txt .desc2 .job_desc {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -2%;
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body main section#cover .main_contents .main_txt .desc2 .scroll_btn {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  z-index: 999;
}
body main section#cover .main_contents .main_txt .desc2 .scroll_btn span {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -2%;
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body main section#cover .main_contents .main_txt .desc2 .scroll_btn img {
  width: 80px;
  height: 80px;
  animation: float-up-down 2s ease-in-out infinite alternate;
}
@keyframes float-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
body main section#cover .shape_effect {
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(-10%, -20%);
  width: 200px;
  height: 100px;
}
body main section#cover .shape_effect img {
  width: 100%;
  height: 100%;
  animation: float-left-right 2s ease-in-out infinite alternate;
}
@keyframes float-left-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
body main section#about_me {
  background: url(../images/portfolio_source.png) center/cover no-repeat;
  display: flex;
  flex-flow: column nowrap;
  border-bottom: 1px solid #222;
}
body main section#about_me h2 {
  text-align: center;
  flex-shrink: 0;
  border-bottom: 1px solid #222;
  margin-top: 60px;
}
body main section#about_me .contents {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  flex-grow: 1;
  min-height: 0;
}
body main section#about_me .contents .photo_section {
  z-index: 998;
  width: 25%;
  height: auto;
  border-right: 1px solid #222;
  flex-shrink: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  z-index: 998;
}
body main section#about_me .contents .photo_section .shape_effect {
  position: absolute;
  top: -15%;
  right: -20%;
  z-index: 999;
  width: 60px;
  height: 90px;
}
body main section#about_me .contents .photo_section .shape_effect img {
  width: 100%;
  height: 100%;
  animation: float-left-right 2.5s ease-in-out infinite alternate;
}
body main section#about_me .contents .photo_section .shape_effect_copy {
  position: absolute;
  top: -20%;
  right: -40%;
  z-index: 999;
  width: 40px;
  height: 60px;
}
body main section#about_me .contents .photo_section .shape_effect_copy img {
  width: 100%;
  height: 100%;
  animation: float-left-right 4s ease-in-out infinite alternate;
}
body main section#about_me .contents .photo_section img {
  width: 250px;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
}
body main section#about_me .contents .photo_section .profile h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -2%;
}
body main section#about_me .contents .photo_section .profile h3 span {
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: -2%;
}
body main section#about_me .contents .photo_section .profile .about_me_desc {
  padding-top: 16px;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: -2%;
}
body main section#about_me .contents .desc_section {
  width: 75%;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-shrink: 0;
  min-height: 0;
}
body main section#about_me .contents .desc_section .personal_info {
  width: 100%;
  padding: 30px 80px;
  display: flex;
  flex-flow: row nowrap;
  gap: 120px;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1px solid #222;
}
body main section#about_me .contents .desc_section .personal_info .about_me_area {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  align-items: flex-start;
}
body main section#about_me .contents .desc_section .personal_info .about_me_area h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: -2%;
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body main section#about_me .contents .desc_section .personal_info .about_me_area .about_me_desc {
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: -2%;
}
body main section#about_me .contents .desc_section .skills {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}
body main section#about_me .contents .desc_section .skills h3 {
  height: 32px;
  flex-shrink: 0;
  padding: 4px 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -2%;
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  border-bottom: 1px solid #222;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
body main section#about_me .contents .desc_section .skills .skills_wrap {
  flex-grow: 1;
  padding: 20px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
body main section#about_me .contents .desc_section .skills .skills_wrap .skill_set {
  padding: 0 40px;
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
}
body main section#about_me .contents .desc_section .skills .skills_wrap .skill_set .each_skill {
  height: 96px;
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  align-items: center;
}
body main section#about_me .contents .desc_section .skills .skills_wrap .skill_set .each_skill .icon {
  width: 60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
body main section#about_me .contents .desc_section .skills .skills_wrap .skill_set .each_skill .icon img {
  width: 40px;
  height: 40px;
}
body main section#about_me .contents .desc_section .skills .skills_wrap .skill_set .each_skill .icon span {
  font-size: 0.75rem;
  text-align: center;
}
body main section#about_me .contents .desc_section .skills .skills_wrap .skill_set .each_skill .desc li {
  font-size: 0.875rem;
  line-height: 200%;
  letter-spacing: -2%;
}
body main section#media {
  background: url(../images/portfolio_bg8.png) center/cover no-repeat;
  border-bottom: 1px solid #222;
  position: relative;
}
body main section#media #media_swiper {
  height: 100vh;
}
body main section#media #media_swiper .swiper-wrapper {
  width: auto !important;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide {
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section {
  flex: 1;
  min-width: 0;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  width: auto;
  text-align: center;
  border-right: 1px solid #222;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section h2 {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  border-bottom: 1px solid #222;
  padding-top: 60px;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile {
  position: relative;
  height: auto;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #222;
  flex-shrink: 0;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile .channel_info {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile .channel_info a > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile .channel_info a > img:hover {
  animation: scale 1s ease forwards;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile .channel_info .channel_txt {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile .channel_info .channel_txt .channel_name {
  font-size: 1rem;
  font-weight: 500;
  line-height: 200%;
  letter-spacing: -2%;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile .channel_info .channel_txt .channel_subscribers {
  font-size: 0.75rem;
  line-height: 200%;
  letter-spacing: -2%;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile a.explore_more {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(5%, -50%);
  z-index: 998;
  width: 40px;
  height: 40px;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile a.explore_more img {
  width: 100%;
  height: 100%;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile a.explore_more:hover img {
  animation: scale 1s ease forwards;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .channel_desc {
  width: 100%;
  height: auto;
  padding: 60px;
  flex-shrink: 0;
  border-bottom: 1px solid #222;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 16px;
  align-items: center;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .channel_desc ul {
  background-color: #fff;
  padding: 0 16px;
  display: flex;
  flex-flow: row nowrap;
  gap: 24px;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .channel_desc ul li {
  font-size: 1.125rem;
  line-height: 200%;
  letter-spacing: -2%;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .channel_desc p {
  font-size: 1rem;
  line-height: 200%;
  letter-spacing: -2%;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools .accomplishment {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 40px;
  align-items: flex-start;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools .accomplishment li {
  font-size: 1rem;
  line-height: 200%;
  letter-spacing: -2%;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools .accomplishment li.accom_title {
  background-color: #fff;
  padding: 0 16px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -2%;
  margin-bottom: 16px;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools .accomplishment {
  border-right: 1px solid #222;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools .tools {
  width: 50%;
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 40px;
  flex-grow: 1;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools .tools li {
  font-size: 1rem;
  line-height: 200%;
  letter-spacing: -2%;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools .tools li.tools_title {
  background-color: #fff;
  padding: 0 16px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -2%;
  margin-bottom: 16px;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section {
  padding-top: 60px;
  flex: 1;
  width: 50%;
  min-width: 0;
  display: flex;
  flex-flow: column nowrap;
  /* .small_thumbnails {
      @include flex-row;
      border-bottom:$border; justify-content:space-between;
      a:hover a::before{background:rgba(0,0,0,0.3);}
  } */
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section .small_thumbnails.instagram {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  overflow-y: scroll;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section .small_thumbnails.instagram a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section .small_thumbnails.instagram a {
  border-right: 1px solid #222;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section .video-container {
  flex: 1;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section .video-container iframe {
  width: 100%;
  height: 100%;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section .more_info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex-grow: 1;
  padding: 0 40px;
  width: 100%;
  height: 130px;
  border-top: 1px solid #222;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section .more_info p {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  line-height: 160%;
  letter-spacing: -2%;
}
body main section#media .swiper-controls-group {
  position: absolute;
  right: 2%;
  bottom: 10%;
  width: 200px;
  height: 130px;
  padding: 20px;
  z-index: 999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
body main section#media .swiper-controls-group .swiper-button-prev {
  width: 32px;
  height: 32px;
  color: #777;
}
body main section#media .swiper-controls-group .swiper-pagination {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  color: #777;
}
body main section#media .swiper-controls-group .swiper-pagination .swiper-pagination-current, body main section#media .swiper-controls-group .swiper-pagination .swiper-pagination-total {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  line-height: 32px;
}
body main section#media .swiper-controls-group .swiper-pagination .swiper-pagination-total {
  font-size: 2rem;
}
body main section#media .swiper-controls-group .swiper-pagination .swiper-pagination-current {
  color: #000;
}
body main section#media .swiper-controls-group .media-btn-prev {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 20%;
  top: 38%;
  transform: translate(-20%, -38%);
  transform: rotate(-90deg);
}
body main section#media .swiper-controls-group .media-btn-next {
  width: 32px;
  height: 32px;
  color: #000;
  position: absolute;
  left: 90%;
  top: 35%;
  transform: translate(-90%, -35%);
  transform: rotate(-90deg);
}
body main section#projects {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  border-bottom: 1px solid #222;
}
body main section#projects h2 {
  position: absolute;
  z-index: 999;
  right: 5%;
  top: 5%;
  transform: translate(5%, -5%);
  color: #fff;
}
body main section#projects .project_card {
  position: relative;
  width: 25%;
  border-right: 1px solid #222;
}
body main section#projects .project_card .project_card_wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 120px 40px;
  z-index: 10;
  justify-content: flex-start;
}
body main section#projects .project_card .project_card_wrapper .project_num {
  font-size: 6.25rem;
  font-weight: 600;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body main section#projects .project_card .project_card_wrapper .project_name {
  font-size: 3.5rem;
  font-weight: 500;
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body main section#projects .project_card .project_card_wrapper .hashtag_more {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
body main section#projects .project_card .project_card_wrapper .hashtag_more .hashtag_section {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}
body main section#projects .project_card .project_card_wrapper .hashtag_more .hashtag_section .hashtag {
  font-size: 1.5rem;
}
body main section#projects .project_card .project_card_wrapper .hashtag_more .move_to_projects_btn {
  display: none;
}
body main section#projects .project_card:hover .project_card_wrapper > .hashtag_more > .move_to_projects_btn {
  position: absolute;
  right: 10%;
  bottom: 20%;
  display: inline-block;
  z-index: 999;
}
body main section#projects {
  /* card1-hover */
}
body main section#projects .card1 {
  position: relative;
  background: #E1EDD9;
  /* background:url(../images/eather_bg.jpg) top/cover no-repeat; */
}
body main section#projects .card1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/mockup_001.png) center/contain no-repeat;
  opacity: 0;
  transition: opacity 0.1s ease;
  z-index: 5;
}
body main section#projects .card1:hover .project_card_wrapper {
  z-index: 10;
}
body main section#projects .card1:hover::before {
  opacity: 1;
}
body main section#projects {
  /* card2-hover */
}
body main section#projects .card2 {
  position: relative;
  background: url(../images/alter_bg.png) top/cover no-repeat;
}
body main section#projects .card2 .project_card_wrapper {
  color: #C70612;
}
body main section#projects .card2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/mockup_002.png) center/contain no-repeat;
  opacity: 0;
  transition: opacity 0.1s ease;
  z-index: 5;
}
body main section#projects .card2:hover .project_card_wrapper {
  z-index: 10;
}
body main section#projects .card2:hover::before {
  opacity: 1;
}
body main section#projects {
  /* card3-hover */
}
body main section#projects .card3 {
  position: relative;
  background: rgb(245, 243, 228);
}
body main section#projects .card3 p {
  color: #6c3c0c;
}
body main section#projects .card3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/mockup_003.png) center/contain no-repeat;
  opacity: 0;
  transition: opacity 0.1s ease;
  z-index: 5;
}
body main section#projects .card3:hover .project_card_wrapper {
  z-index: 10;
}
body main section#projects .card3:hover::before {
  opacity: 1;
}
body main section#projects {
  /* card4-hover */
}
body main section#projects .card4 {
  position: relative;
  background: #3f3f3f;
}
body main section#projects .card4 .project_card_wrapper {
  color: #fff;
}
body main section#projects .card4 .project_card_wrapper .move_to_projects_btn {
  filter: invert(100%);
}
body main section#projects .card4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/mockup_004.png) center/contain no-repeat;
  opacity: 0;
  transition: opacity 0.1s ease;
  z-index: 5;
}
body main section#projects .card4:hover .project_card_wrapper {
  z-index: 10;
}
body main section#projects .card4:hover::before {
  opacity: 1;
}
body main section#projects {
  /* .card2 {background:url(../images/alter_bg.png) top/cover no-repeat;}
  .card3 {background:url(../images/portfolio_bg11.png) top/cover no-repeat;}
  .card4 {background:url(../images/marithe_bg.png) top/cover no-repeat;} */
}
body main section.project_section {
  border-bottom: 1px solid #222;
  display: flex;
  flex-flow: row nowrap;
}
body main section.project_section .desc_section {
  position: relative;
  width: 30%;
  padding: 140px 60px 100px;
  border-right: 1px solid #222;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 40px;
}
body main section.project_section .desc_section .project_title {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}
body main section.project_section .desc_section .project_title .project_num {
  color: rgba(0, 0, 0, 0.2);
  font-size: 12.5rem;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  position: absolute;
  top: -2%;
  left: -2%;
  z-index: 990;
}
body main section.project_section .desc_section .project_title .project_name {
  font-size: 3.5rem;
  font-weight: 500;
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  z-index: 995;
}
body main section.project_section .desc_section .project_title .project_page_type {
  z-index: 999;
}
body main section.project_section .desc_section .project_desc {
  padding-top: 40px;
  border-top: 1px solid #222;
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
}
body main section.project_section .desc_section .project_desc p {
  color: #000;
  font-size: 1.125rem;
  line-height: 200%;
  letter-spacing: -2%;
}
body main section.project_section .desc_section .project_desc p strong {
  font-size: 1.25rem;
  font-style: italic;
}
body main section.project_section .desc_section .project_desc p em {
  font-weight: 700;
}
body main section.project_section .desc_section .project_desc .project_hashtag {
  color: #000;
  font-size: 1.125rem;
  background-color: #fff;
  padding: 0 16px;
  display: inline;
}
body main section.project_section .desc_section .project_desc .project_tools {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}
body main section.project_section .desc_section .project_desc .project_tools p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 200%;
  letter-spacing: -2%;
}
body main section.project_section .desc_section .project_desc .project_tools .tool_icon_sets {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}
body main section.project_section .desc_section .project_desc .project_tools .tool_icon_sets li {
  width: 36px;
  height: 36px;
}
body main section.project_section .desc_section .project_desc .project_tools .tool_icon_sets li img {
  width: 100%;
  height: 100%;
}
body main section.project_section .mockup_section {
  position: relative;
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
body main section.project_section .mockup_section .projects_index {
  padding: 100px 0 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 80px;
}
body main section.project_section .mockup_section .projects_index li a {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}
body main section.project_section .mockup_section .projects_index li a .project_num_index {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 2.5rem;
  font-weight: 600;
}
body main section.project_section .mockup_section .projects_index li a .project_name_index {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 2rem;
  font-weight: 500;
}
body main section.project_section .mockup_section .projects_index li a .current {
  color: #d9d9d9;
}
body main section.project_section .mockup_section .mockup {
  width: 100%;
  height: 100%;
}
body main section.project_section .mockup_section .project_button_sets {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(10%, -50%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 40px;
}
body main section.project_section .mockup_section .project_button_sets .project_btn {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background: linear-gradient(120deg, #E8F1C7 0%, #f5959f 100%);
  background-size: 300% 300%;
  background-position: 0 0%;
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
body main section.project_section .mockup_section .project_button_sets .project_btn a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: -2%;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
body main section.project_section .mockup_section .project_button_sets .figma_btn {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}
body main section.project_section .mockup_section .project_button_sets .figma_btn .prototype_figma_set {
  display: none;
}
body main section.project_section .mockup_section .project_button_sets .figma_btn:hover > .prototype_figma_set {
  display: flex;
  flex-flow: column nowrap;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
}
body main section.project_section .mockup_section .project_button_sets .figma_btn:hover > .prototype_figma_set .small_project_btn a {
  display: block;
  font-size: 0.875rem;
}
body main section.project_section .mockup_section .project_button_sets .figma_btn:hover > .prototype_figma_set .small_project_btn:hover a {
  text-decoration: underline;
}
body main section.project_section .mockup_section .project_button_sets .project_btn:hover {
  animation: gradient 2s ease infinite alternate;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  20% {
    background-position: 0% 25%;
  }
  40% {
    background-position: 25% 50%;
  }
  60% {
    background-position: 50% 75%;
  }
  80% {
    background-position: 75% 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}
body main #project_04_marithe .desc_section .project_title .project_name {
  font-size: 2.5rem;
}
body main #project_01_esther {
  /* background:url(../images/eather_bg.jpg) center/cover no-repeat; */
  background: #E1EDD9;
}
body main #project_01_esther .projects_index > li > a > .project_name_index.current, body main #project_01_esther .projects_index > li > a > .project_num_index.current {
  color: rgba(0, 0, 0, 0.2);
}
body main #project_01_esther .mockup_section .mockup {
  background: url(../images/mockup_001.png) -120px center/cover no-repeat;
}
body main #project_02_alternativestereo {
  background: url(../images/alter_bg.png) center/20% repeat;
}
body main #project_02_alternativestereo .project_desc {
  border-top: 1px solid #C70612;
}
body main #project_02_alternativestereo .project_desc > p {
  color: #C70612;
}
body main #project_02_alternativestereo .project_desc > p em {
  font-weight: 500;
}
body main #project_02_alternativestereo .project_desc > .project_hashtag {
  color: #C70612;
}
body main #project_02_alternativestereo .project_desc > .git_code {
  text-align: center;
  border-radius: 20px;
  border: 1px solid #C70612;
  color: #C70612;
  padding: 6px 8px;
}
body main #project_02_alternativestereo .git_code:hover {
  background: #C70612;
  color: rgb(245, 243, 228);
}
body main #project_02_alternativestereo .project_name, body main #project_02_alternativestereo .project_page_type, body main #project_02_alternativestereo .mockup_section > .projects_index > li > a > span, body main #project_02_alternativestereo .project_tools > p {
  color: #C70612;
}
body main #project_02_alternativestereo .projects_index > li > a > .project_name_index.current, body main #project_02_alternativestereo .projects_index > li > a > .project_num_index.current {
  color: rgba(0, 0, 0, 0.2);
}
body main #project_02_alternativestereo .project_hashtag {
  background: rgb(245, 243, 228);
}
body main #project_02_alternativestereo .mockup_section .mockup {
  background: url(../images/mockup_002.png) -120px center/cover no-repeat;
}
body main #project_03_samick {
  background: rgb(245, 243, 228);
}
body main #project_03_samick .project_desc {
  border-top: 1px solid #6c3c0c;
}
body main #project_03_samick .project_desc > p {
  color: #6c3c0c;
}
body main #project_03_samick .project_desc > p em {
  font-weight: 500;
}
body main #project_03_samick .project_desc > .project_hashtag {
  color: #6c3c0c;
}
body main #project_03_samick .project_name, body main #project_03_samick .project_page_type, body main #project_03_samick .mockup_section > .projects_index > li > a > span, body main #project_03_samick .project_tools > p {
  color: #6c3c0c;
}
body main #project_03_samick .projects_index > li > a > .project_name_index.current, body main #project_03_samick .projects_index > li > a > .project_num_index.current {
  color: rgba(0, 0, 0, 0.2);
}
body main #project_03_samick .mockup_section .mockup {
  background: url(../images/mockup_003.png) -120px center/cover no-repeat;
}
body main #project_04_marithe {
  background: #3f3f3f;
}
body main #project_04_marithe .project_desc {
  border-top: 1px solid #555;
}
body main #project_04_marithe .project_desc > p {
  color: #d9d9d9;
}
body main #project_04_marithe .project_desc > p em {
  color: #fff;
  font-weight: 500;
}
body main #project_04_marithe .project_desc > .project_hashtag {
  background: #777;
  color: #fff;
}
body main #project_04_marithe .project_name, body main #project_04_marithe .project_page_type, body main #project_04_marithe .mockup_section > .projects_index > li > a > span, body main #project_04_marithe .project_tools > p {
  color: #fff;
}
body main #project_04_marithe .project_num, body main #project_04_marithe .projects_index > li > a > .project_name_index.current, body main #project_04_marithe .projects_index > li > a > .project_num_index.current {
  color: #555;
}
body main #project_04_marithe .mockup_section .mockup {
  background: url(../images/mockup_004.png) -120px center/cover no-repeat;
}
body main section#graphics {
  position: relative;
  background: url(../images/portfolio_source.png) center/cover no-repeat;
  border-bottom: 1px solid #222;
  padding: 40px 0 120px;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
body main section#graphics p {
  font-size: 1.125rem;
  line-height: 160%;
  letter-spacing: -2%;
  margin-bottom: 80px;
}
body main section#graphics #design_swiper {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  z-index: 997;
}
body main section#graphics #design_swiper .swiper-wrapper .swiper-slide {
  width: 270px;
  height: 384px;
}
body main section#graphics #design_swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body main .gray_bg {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  display: none;
}
body main .gray_bg .modal_content {
  max-width: 80%;
  max-height: 80%;
}
body main .gray_bg .modal_content img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
body main section#contact {
  padding: 120px 0;
  background: url(../images/portfolio_bg9.png) center/cover no-repeat;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
body main section#contact h3 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body main section#contact address a {
  font-size: 1.125rem;
  line-height: 200%;
  letter-spacing: -2%;
}
body main section#contact img {
  width: 150px;
  height: 150px;
}
body main section#contact p {
  font-size: 1.125rem;
  line-height: 200%;
  letter-spacing: -2%;
}
body main section#contact .buttons #github_id {
  padding: 16px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 1rem;
}

body {
  min-width: 320px;
}

@media screen and (max-width: 1840px) {
  body {
    /* 공통 */
  }
  body h2 {
    font-size: 5rem;
  }
  body {
    /* 개별 */
  }
  body main section#cover .main_contents .main_txt h1 {
    font-size: 9.375rem;
  }
  body main section#about_me .contents .desc_section .personal_info {
    padding: 30px 60px;
    gap: 40px;
  }
  body main section#about_me .contents .desc_section .personal_info .about_me_area {
    gap: 12px;
  }
  body main section#about_me .contents .desc_section .personal_info .about_me_area .about_me_desc {
    font-size: 0.875rem;
  }
  body main section#about_me .contents .desc_section .skills .skills_wrap {
    padding: 40px 20px;
  }
  body main section#about_me .contents .desc_section .skills .skills_wrap .skill_set {
    padding: 0 20px;
  }
  body main section#about_me .contents .desc_section .skills .skills_wrap .skill_set .each_skill .desc li {
    font-size: 0.75rem;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile .channel_info a > img {
    width: 60px;
    height: 60px;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .channel_desc {
    padding: 50px;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .channel_desc ul li {
    font-size: 1rem;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .channel_desc p {
    font-size: 1rem;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools .accomplishment li {
    font-size: 1rem;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools .accomplishment li.accom_title {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: -2%;
    margin-bottom: 16px;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools .tools li {
    font-size: 1rem;
    line-height: 200%;
    letter-spacing: -2%;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools .tools li.tools_title {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: -2%;
    margin-bottom: 16px;
  }
  body main section#media .swiper-controls-group {
    bottom: 5%;
  }
  body main section#projects .project_card .project_card_wrapper .hashtag_more .hashtag_section .hashtag {
    font-size: 1.25rem;
  }
  body main section.project_section .desc_section .project_desc p {
    font-size: 1rem;
  }
  body main section.project_section .mockup_section .projects_index li a .project_num_index {
    font-size: 1.875rem;
  }
  body main section.project_section .mockup_section .projects_index li a .project_name_index {
    font-size: 1.75rem;
  }
  body main section.project_section .mockup_section .project_button_sets {
    right: 8%;
    top: 60%;
    transform: translate(8%, -60%);
  }
  body main section#graphics {
    padding: 80px 0 120px;
  }
  body main section#graphics h2 {
    font-size: 4rem;
  }
  body main section#graphics p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1500px) {
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .channel_desc ul {
    gap: 12px;
    padding: 0 8px;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .channel_desc p {
    font-size: 0.875rem;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools .accomplishment li {
    font-size: 0.875rem;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools .accomplishment li.accom_title {
    font-size: 1rem;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools .tools li {
    font-size: 0.875rem;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools .tools li.tools_title {
    font-size: 1rem;
  }
  body main section#projects .project_card .project_card_wrapper .project_name {
    font-size: 2.5rem;
  }
  body main section#projects .project_card .project_card_wrapper .hashtag_more .hashtag_section .hashtag {
    font-size: 1.125rem;
  }
  body main section.project_section .desc_section {
    width: 35%;
  }
  body main section.project_section .desc_section .project_desc .project_hashtag {
    font-size: 1rem;
  }
  body main section.project_section .mockup_section .projects_index {
    padding: 80px 0 60px;
    gap: 40px;
  }
  body main #project_01_esther .mockup_section .mockup, body main #project_02_alternativestereo .mockup_section .mockup, body main #project_03_samick .mockup_section .mockup, body main #project_04_marithe .mockup_section .mockup {
    background-position: -250px;
  }
}
@media screen and (max-width: 1250px) {
  body {
    width: 100%;
    height: auto;
    overflow-y: visible;
  }
  body h2 {
    font-size: 4rem;
  }
  body {
    /* 개별 */
  }
  body header {
    background: rgba(255, 255, 255, 0.5);
    height: 52px;
  }
  body header a {
    font-size: 0.875rem;
  }
  body main {
    overflow: visible;
    height: auto;
    padding-top: 0;
  }
  body main section {
    display: block;
    width: 100%;
    height: auto !important;
  }
  body main section#cover {
    height: 100vh;
  }
  body main section#cover #ellipse_container {
    width: 1200px;
    height: 750px;
  }
  body main section#cover #ellipse_container .ellipse_wrap .ellipse_outline {
    width: 800px;
    height: 400px;
  }
  body main section#cover .main_contents #sns li a {
    font-size: 0.875rem;
  }
  body main section#cover .main_contents .main_txt {
    padding: 120px 100px 80px;
  }
  body main section#cover .main_contents .main_txt h1 {
    font-size: 8rem;
  }
  body main section#cover .main_contents .main_txt .desc1 .desc {
    font-size: 1.25rem;
  }
  body main section#cover .main_contents .main_txt .desc2 .job_desc {
    font-size: 2rem;
  }
  body main section#cover .main_contents .main_txt .desc2 .scroll_btn {
    gap: 8px;
  }
  body main section#cover .main_contents .main_txt .desc2 .scroll_btn span {
    font-size: 1.25rem;
  }
  body main section#cover .main_contents .main_txt .desc2 .scroll_btn a img {
    width: 70px;
    height: 70px;
  }
  body main section#cover .shape_effect {
    width: 180px;
    height: 80px;
  }
  body main section#about_me h2 {
    padding: 40px;
    margin-top: 0;
    border-bottom: 0;
  }
  body main section#about_me .contents {
    display: flex;
    flex-flow: column nowrap;
  }
  body main section#about_me .contents .photo_section {
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #222;
    padding-bottom: 40px;
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
    justify-content: center;
  }
  body main section#about_me .contents .photo_section .shape_effect {
    top: 0;
    left: 18%;
    width: 50px;
    height: 70px;
  }
  body main section#about_me .contents .photo_section .shape_effect_copy {
    top: 20%;
    right: 18%;
    width: 70px;
    height: 100px;
  }
  body main section#about_me .contents .photo_section img {
    width: 150px;
  }
  body main section#about_me .contents .desc_section {
    width: 100%;
    gap: 40px;
  }
  body main section#about_me .contents .desc_section .personal_info {
    padding: 60px;
    justify-content: space-between;
  }
  body main section#about_me .contents .desc_section .personal_info .about_me_area {
    gap: 20px;
  }
  body main section#about_me .contents .desc_section .skills h3 {
    border-bottom: 0;
    padding: 0;
  }
  body main section#about_me .contents .desc_section .skills .skills_wrap .skill_set {
    padding: 0 10px;
  }
  body main section#media #media_swiper {
    height: auto;
    overflow: visible;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide {
    display: flex;
    flex-flow: column nowrap;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section {
    width: 100%;
    border-bottom: 1px solid #222;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section h2 {
    padding-bottom: 20px;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile {
    height: auto;
    padding: 40px 0 20px;
    border-bottom: 0;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .channel_desc {
    padding: 40px;
    gap: 24px;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .channel_desc ul li {
    font-size: 1rem;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .channel_desc p {
    display: none;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools {
    flex-grow: 1;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools .accomplishment, body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .accomplishment_tools .tools {
    align-items: center;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section {
    padding-top: 0;
    width: 100%;
    height: auto;
    align-items: center;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section .small_thumbnails.instagram {
    height: 450px;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section .video_container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 40px 0;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section .video_container iframe {
    width: 800px;
    height: 450px;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section .more_info {
    height: auto;
  }
  body main section#media .swiper-controls-group {
    width: 150px;
    height: 100px;
    bottom: 0;
  }
  body main section#media .swiper-controls-group .swiper-pagination .swiper-pagination-current, body main section#media .swiper-controls-group .swiper-pagination .swiper-pagination-total {
    font-size: 1.875rem;
  }
  body main section#media .swiper-controls-group .media-btn-prev, body main section#media .swiper-controls-group .media-btn-next {
    width: 24px;
    height: 24px;
  }
  body main section#projects .project_card .project_card_wrapper .hashtag_more .hashtag_section {
    gap: 8px;
  }
  body main section#projects .project_card .project_card_wrapper .hashtag_more .hashtag_section .hashtag {
    font-size: 1rem;
  }
  body main section#projects .project_card .project_card_wrapper .hashtag_more .move_to_projects_btn {
    width: 40px;
    height: auto;
  }
  body main section.project_section {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
  }
  body main section.project_section .desc_section {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    gap: 0;
    border-bottom: 1px solid #222;
  }
  body main section.project_section .desc_section .project_title {
    border-right: 1px solid #222;
    padding: 140px 60px 100px;
  }
  body main section.project_section .desc_section .project_title .project_page_type {
    line-height: 200%;
    letter-spacing: -2%;
  }
  body main section.project_section .desc_section .project_desc {
    border-top: 0;
    padding: 60px;
    gap: 20px;
  }
  body main section.project_section .desc_section .project_desc p {
    font-size: 0.875rem;
  }
  body main section.project_section .mockup_section {
    width: 100%;
    height: auto;
  }
  body main section.project_section .mockup_section .projects_index {
    padding: 40px;
  }
  body main #project_01_esther .mockup_section, body main #project_02_alternativestereo .mockup_section, body main #project_03_samick .mockup_section, body main #project_04_marithe .mockup_section {
    width: 100%;
    height: 800px;
  }
  body main #project_01_esther .mockup_section .mockup, body main #project_02_alternativestereo .mockup_section .mockup, body main #project_03_samick .mockup_section .mockup, body main #project_04_marithe .mockup_section .mockup {
    background-position: center 40px;
  }
  body main #project_01_esther .desc_section .project_desc, body main #project_02_alternativestereo .desc_section .project_desc, body main #project_03_samick .desc_section .project_desc, body main #project_04_marithe .desc_section .project_desc {
    border-top: 0;
  }
  body main section#graphics h2 {
    font-size: 3.125rem;
  }
  body main section#contact {
    height: auto;
    padding: 60px 0;
  }
}
@media screen and (max-width: 950px) {
  body main h2 {
    font-size: 3.5rem;
  }
  body main section#cover #ellipse_container {
    width: 1200px;
    height: 750px;
  }
  body main section#cover #ellipse_container .ellipse_wrap .ellipse_outline {
    width: 700px;
    height: 320px;
  }
  body main section#cover #ellipse_container .ellipse_wrap .dot {
    width: 12px;
    height: 12px;
  }
  body main section#cover .shape_effect {
    width: 160px;
    height: 70px;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section .more_info {
    padding: 20px 40px;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section .more_info p {
    font-size: 2.5rem;
  }
  body main section#projects {
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    border-right: 0;
    border-bottom: 1px solid #222;
    justify-content: center;
    background: url(../images/portfolio_bg8.png) center/cover no-repeat;
  }
  body main section#projects h2 {
    color: #000;
    font-size: 3.125rem;
  }
  body main section#projects .project_card {
    height: 200px;
    width: 100%;
    border-bottom: 1px solid #222;
  }
  body main section#projects .project_card .project_card_wrapper {
    top: 0;
    left: 0;
    padding: 0 40px;
    gap: 8px;
  }
  body main section#projects .project_card .project_card_wrapper .project_num {
    font-size: 5rem;
    font-weight: 600;
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  body main section#projects .project_card .project_card_wrapper .project_name {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Cormorant Infant", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  body main section#projects .project_card .project_card_wrapper .hashtag_more {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  body main section#projects .project_card .project_card_wrapper .hashtag_more .hashtag_section {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
  }
  body main section#projects .project_card .project_card_wrapper .hashtag_more .hashtag_section .hashtag {
    font-size: 1rem;
  }
  body main section#projects .project_card .project_card_wrapper .hashtag_more .move_to_projects_btn {
    display: none;
  }
  body main section#projects .card1 {
    border-top: 1px solid #222;
  }
}
@media screen and (max-width: 850px) {
  body main h2 {
    font-size: 3.5rem;
  }
  body main section#about_me .contents .photo_section .shape_effect {
    top: 0;
    left: 15%;
    width: 40px;
    height: 60px;
  }
  body main section#about_me .contents .photo_section .shape_effect_copy {
    top: 15%;
    right: 15%;
    width: 60px;
    height: 90px;
  }
  body main section#about_me .contents .desc_section .skills .skills_wrap .skill_set {
    display: flex;
    flex-flow: row nowrap;
  }
  body main section#about_me .contents .desc_section .skills .skills_wrap .skill_set .each_skill .desc {
    display: none;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section .more_info {
    padding: 20px 40px;
  }
  body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section .more_info p {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 800px) {
  body main section#cover #ellipse_container {
    width: 1200px;
    height: 750px;
  }
  body main section#cover #ellipse_container .ellipse_wrap .ellipse_outline {
    width: 500px;
    height: 250px;
  }
  body main section#cover #ellipse_container .ellipse_wrap .dot {
    width: 12px;
    height: 12px;
  }
  body main section#cover .main_contents .main_txt h1 {
    font-size: 6.25rem;
  }
  body main section#cover .shape_effect {
    width: 160px;
    height: 70px;
  }
  body main section#about_me .contents .desc_section .personal_info {
    padding: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  body main section#about_me .contents .desc_section .personal_info .about_me_area {
    gap: 12px;
    align-items: center;
  }
  body main section#about_me .contents .desc_section .skills .skills_wrap {
    display: flex;
    flex-flow: column nowrap;
  }
}

/*# sourceMappingURL=main.css.map */
