@charset "UTF-8";
body {
  scroll-behavior: smooth;
  /* 공통 */
  height: 100vh;
  width: 100vw; /* overflow-x:hidden; */
}
body * section {
  min-height: 100vh;
  height: auto;
}
body h2 {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 6.25rem;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -2%;
}
body {
  /* 개별 */
}
body header {
  width: 100%;
  height: 60px;
  padding: 0 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #222;
}
body header a {
  font-size: 1rem;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -2%;
}
body header nav {
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;
  align-items: center;
}
body header nav a {
  font-weight: 400;
}
body main section#cover {
  height: 100vh;
  position: relative;
  z-index: 997;
  background: url(../images/portfolio_bg8.png) center/cover no-repeat;
  border-bottom: 1px solid #222;
}
body main section#cover #ellipse_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-20deg);
  z-index: 998;
  width: 1500px;
  height: 900px;
  margin: 50px auto;
}
body main section#cover #ellipse_container .ellipse_wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
body main section#cover #ellipse_container .ellipse_wrap .ellipse_outline { /* 타원 윤곽선 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 500px;
  border: 1px solid #222;
  border-radius: 50%;
}
body main section#cover #ellipse_container .ellipse_wrap .dot { /* 움직이는 점 */
  position: absolute;
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 50%;
}
body main section#cover .main_contents {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}
body main section#cover .main_contents #sns {
  width: 60px;
  height: 100%;
  padding: 80px 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  justify-content: flex-end;
  align-items: center;
  border-right: 1px solid #222;
}
body main section#cover .main_contents #sns li {
  transform: rotate(270deg);
}
body main section#cover .main_contents .main_txt {
  width: 100%;
  padding: 100px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
body main section#cover .main_contents .main_txt h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 10rem;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -2%;
}
body main section#cover .main_contents .main_txt .desc1 {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 120px;
  justify-content: right;
}
body main section#cover .main_contents .main_txt .desc1 .desc {
  font-size: 1.5rem;
  line-height: 160%;
  letter-spacing: -2%;
}
body main section#cover .main_contents .main_txt .desc1 .desc em {
  font-weight: 700;
}
body main section#cover .main_contents .main_txt .desc2 {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
body main section#cover .main_contents .main_txt .desc2 .job_desc {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -2%;
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body main section#cover .main_contents .main_txt .desc2 .scroll_btn {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
body main section#cover .main_contents .main_txt .desc2 .scroll_btn span {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -2%;
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body main section#about_me {
  background: url(../images/portfolio_source.png) center/cover no-repeat;
  display: flex;
  flex-flow: column nowrap;
  border-bottom: 1px solid #222;
}
body main section#about_me h2 {
  height: 200px;
  text-align: center;
  line-height: 2;
  flex-shrink: 0;
  border-bottom: 1px solid #222;
}
body main section#about_me .contents {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  flex-grow: 1;
}
body main section#about_me .contents .photo_section {
  width: 25%;
  height: auto;
  border-right: 1px solid #222;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
body main section#about_me .contents .photo_section img {
  width: 250px;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
}
body main section#about_me .contents .photo_section .profile h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -2%;
}
body main section#about_me .contents .photo_section .profile h3 span {
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: -2%;
}
body main section#about_me .contents .photo_section .profile .about_me_desc {
  padding-top: 16px;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: -2%;
}
body main section#about_me .contents .desc_section {
  width: 75%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
body main section#about_me .contents .desc_section .personal_info {
  width: 100%;
  padding: 40px 80px;
  display: flex;
  flex-flow: row nowrap;
  gap: 120px;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1px solid #222;
}
body main section#about_me .contents .desc_section .personal_info .about_me_area {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  align-items: flex-start;
}
body main section#about_me .contents .desc_section .personal_info .about_me_area h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: -2%;
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body main section#about_me .contents .desc_section .personal_info .about_me_area .about_me_desc {
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: -2%;
}
body main section#about_me .contents .desc_section .skills {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
body main section#about_me .contents .desc_section .skills h3 {
  height: 32px;
  flex-shrink: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -2%;
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  border-bottom: 1px solid #222;
  text-align: center;
}
body main section#about_me .contents .desc_section .skills .skills_wrap {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
body main section#about_me .contents .desc_section .skills .skills_wrap .skill_set {
  padding: 0 40px;
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
}
body main section#about_me .contents .desc_section .skills .skills_wrap .skill_set .each_skill {
  height: 96px;
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  align-items: center;
}
body main section#about_me .contents .desc_section .skills .skills_wrap .skill_set .each_skill .icon {
  width: 60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
body main section#about_me .contents .desc_section .skills .skills_wrap .skill_set .each_skill .icon img {
  width: 40px;
  height: 40px;
}
body main section#about_me .contents .desc_section .skills .skills_wrap .skill_set .each_skill .icon span {
  font-size: 0.75rem;
  text-align: center;
}
body main section#about_me .contents .desc_section .skills .skills_wrap .skill_set .each_skill .desc li {
  font-size: 0.875rem;
  line-height: 200%;
  letter-spacing: -2%;
}
body main section#media {
  background: url(../images/portfolio_bg8.png) center/cover no-repeat;
  border-bottom: 1px solid #222;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  align-items: stretch;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section {
  display: flex;
  flex-flow: column nowrap;
  width: 30%;
  height: 100%;
  text-align: center;
  border-right: 1px solid #222;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section h2 {
  width: 100%;
  height: 160px;
  flex-shrink: 0;
  border-bottom: 1px solid #222;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile {
  position: relative;
  height: 160px;
  padding: 40px 0;
  text-align: center;
  border-bottom: 1px solid #222;
  flex-shrink: 0;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile .channel_info {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile .channel_info a > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile .channel_info .channel_txt {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile .channel_info .channel_txt .channel_name {
  font-size: 1rem;
  font-weight: 500;
  line-height: 200%;
  letter-spacing: -2%;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile .channel_info .channel_txt .channel_subscribers {
  font-size: 0.75rem;
  line-height: 200%;
  letter-spacing: -2%;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile a.explore_more {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(5%, -50%);
  z-index: 998;
  width: 40px;
  height: 40px;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .sns_profile a.explore_more img {
  width: 100%;
  height: 100%;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .channel_desc {
  width: 100%;
  flex-grow: 1;
  padding: 80px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .channel_desc p {
  font-size: 1.125rem;
  line-height: 200%;
  letter-spacing: -2%;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .txt_section .channel_desc ul li {
  font-size: 1rem;
  line-height: 200%;
  letter-spacing: -2%;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section {
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section .more_info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex-grow: 1;
  padding: 0 40px;
  width: 100%;
  height: 130px;
  border-top: 1px solid #222;
}
body main section#media #media_swiper .swiper-wrapper .swiper-slide .mockup_section .more_info p {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  line-height: 160%;
  letter-spacing: -2%;
}
body main section#projects {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
body main section#projects h2 {
  position: absolute;
  z-index: 999;
  right: 5%;
  top: 5%;
  transform: translate(5%, -5%);
}
body main section#projects .project_card {
  background: pink;
  position: relative;
  width: 25%;
  border-right: 1px solid #222;
}
body main section#projects .project_card .project_card_wrapper {
  position: absolute;
  left: 5%;
  bottom: 5%;
  transform: translate(-5%, -5%);
}
body main section#projects {
  /* .card1 {background:url(../images/project_esther.png) top/200% no-repeat;}
  .card2 {background:url(../images/project_alter.png) top/200% no-repeat;}
  .card3 {background:url(../images/project_samick.png) top/200% no-repeat;}
  .card4 {background:url(../images/project_marithe.png) top/200% no-repeat;} */
}
body main section.project_section {
  background: url(../images/portfolio_bg8.png) center/cover no-repeat;
  border-bottom: 1px solid #222;
}
body main section.project_section .project_button_sets a {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background: #fff;
  padding: 15px 36px;
}

/*# sourceMappingURL=main.css.map */
