@use "./common.scss" as*;

body {
    min-width:320px;
}
@media screen and (max-width:1840px) {
    body {
        /* 공통 */
        h2 { font-size:$font-size-h-80;
        }
        /* 개별 */
        main {
            section#cover {
                .main_contents {
                    #sns {
                    }
                    .main_txt {
                        h1 {font-size:$font-size-h-150;}
                    }
                }
            }
            section#about_me {
                .contents {
                    .desc_section {
                        .personal_info {
                            padding:30px 60px; gap:40px;
                            .about_me_area {
                                gap:12px;
                                .about_me_desc {
                                    font-size:$font-size-p-14;
                                }
                            }
                        }
                        .skills {
                            .skills_wrap {
                                padding:40px 20px;
                                .skill_set {
                                    padding:0 20px;
                                    .each_skill {
                                        .desc {
                                            li {
                                                font-size:$font-size-p-12;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            section#media {
                #media_swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        .txt_section {
                            .sns_profile {
                                .channel_info {
                                    a > img {width:60px; height:60px;}
                                }
                            }
                            .channel_desc {padding:50px;
                                ul {
                                    li {font-size:$font-size-p-16;}
                                }
                                p {font-size:$font-size-p-16;}
                            }
                            .accomplishment_tools {
                                .accomplishment {
                                    
                                    li {font-size:$font-size-p-16;}
                                    li.accom_title {
                                        font-size:$font-size-p-18; font-weight:$font-weight-med; @include basic_txt; margin-bottom:16px;
                                    }
                                }
                                .tools {
                                    li {font-size:$font-size-p-16; @include basic_wide_txt;}
                                    li.tools_title {
                                        font-size:$font-size-p-18; font-weight:$font-weight-med; @include basic_txt;  margin-bottom:16px;
                                    }
                                }
                            }
                        }
                    }
                }
                }
                .swiper-controls-group {
                    bottom:5%;
                }
            }
            section#projects {
                .project_card {
                    .project_card_wrapper {
                        .hashtag_more {
                            .hashtag_section {
                                .hashtag {font-size:$font-size-p-20;}
                            }
                        }
                    }
                }
            }
            section.project_section {
                .desc_section {
                    .project_desc {
                        p {font-size:$font-size-p-16;}
                    }
                }
                .mockup_section {
                    .projects_index {
                        li {
                            a {
                                .project_num_index {
                                    font-size:$font-size-p-30;
                                }
                                .project_name_index {
                                    font-size:$font-size-h2-28;
                                }
                            }
                        }
                    }
                    .project_button_sets {
                        right:8%; top:60%; transform:translate(8%, -60%);
                    }
                }
            }
            section#graphics {
                padding:80px 0 120px;
                h2 {font-size:$font-size-h1-64;}
                p {font-size:$font-size-p-16;}
            }
        }
    }
}
@media screen and (max-width:1500px) {
body {
    main {
        section#media {
                #media_swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        .txt_section {
                            .channel_desc {
                                ul {gap:12px; padding:0 8px;
                                }
                                p {font-size:$font-size-p-14;}
                            }
                            .accomplishment_tools {
                                .accomplishment {
                                    li {font-size:$font-size-p-14;}
                                    li.accom_title {
                                        font-size:$font-size-p-16;
                                    }
                                }
                                .tools {
                                    li {font-size:$font-size-p-14;}
                                    li.tools_title {
                                        font-size:$font-size-p-16;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        section#projects {
            .project_card {
                .project_card_wrapper {
                    .project_num {}
                    .project_name {font-size:$font-size-p-40;}
                    .hashtag_more {
                            .hashtag_section {
                                .hashtag {font-size:$font-size-p-18;}
                            }
                        }
                }
            }
        }
        section.project_section {
            .desc_section {
                width:35%;
                .project_desc {
                    .project_hashtag {font-size:$font-size-p-16;}
                }
            }
            .mockup_section {
                .projects_index {
                    padding:80px 0 60px; gap:40px;
                }
            }
        }
        #project_01_esther, #project_02_alternativestereo, #project_03_samick, #project_04_marithe {
            .mockup_section {
                .mockup {background-position:-250px;}
            }
        }
    }
}
}
@media screen and (max-width:1250px) {
    body {
        
        width:100%; height:auto; overflow-y:visible;
        h2 {font-size:$font-size-h1-64;}
        /* 개별 */
        header {
            background:rgba(255,255,255,0.5); height:52px;
            a {font-size:$font-size-p-16;}
        }
        main {
            overflow:visible; height:auto;
            padding-top:0;
            section {
                display:block; width:100%; height:auto !important;}
            section#cover {
                height:100vh;
                #ellipse_container {
                    width:1200px; height:750px;
                        .ellipse_wrap {
                            .ellipse_outline {
                                width:800px; height:400px;
                            }
                            .dot {}
                        }
                }
                .main_contents {
                    #sns {
                        li {
                            a {
                                font-size:$font-size-p-14;
                            }
                        }
                    }
                    .main_txt { padding:120px 100px 80px;
                        h1 {font-size:$font-size-h-128;}
                        .desc1 {
                            .desc {font-size:$font-size-p-20;}
                        }
                        .desc2 {
                            .job_desc {
                                font-size:$font-size-h3-32;
                            }
                            .scroll_btn {gap:8px;
                                span {font-size:$font-size-p-20;}
                                a {img {width:70px; height:70px;}}
                            }
                        }
                    }
                }
                .shape_effect {
                    width:180px; height:80px;
                }
            }
            section#about_me {
                h2 {padding:40px; margin-top:0; border-bottom:0;}
                .contents {
                    @include flex-col;
                    .photo_section {
                        width:100%; border-right:0; border-bottom:$border;
                        padding-bottom:40px; @include flex-row; gap:40px; justify-content:center;
                        .shape_effect {
                            top:0; left:18%;
                            width:50px; height:70px;
                        }
                        .shape_effect_copy {
                            top:20%; right:18%;
                            width:70px; height:100px;
                        }
                        img {width:150px;}
                    }
                    .desc_section {
                        width:100%; gap:40px;
                        .personal_info {
                            padding:60px; justify-content:space-between;
                            .about_me_area {
                                gap:20px;
                            }
                        }
                        .skills {
                            h3 {border-bottom:0; padding:0;}
                            .skills_wrap {
                                .skill_set {
                                    padding:0 10px;
                                }
                            }
                        }
                    }
                }
            }
            section#media {
                #media_swiper {height:auto; overflow:visible;
                    .swiper-wrapper {
                        .swiper-slide {
                            @include flex-col;
                            .txt_section {width:100%; border-bottom:$border;
                                h2 {padding-bottom:20px;}
                                .sns_profile {height:auto; padding:40px 0 20px; border-bottom:0;}
                                .channel_desc {
                                    padding:40px; gap:24px;
                                    ul { 
                                        li {font-size:$font-size-p-16;}
                                    }
                                    p {display:none;}
                                }
                                .accomplishment_tools {
                                    flex-grow:1;
                                    .accomplishment, .tools {align-items:center;}
                                }
                            }
                            .mockup_section {
                                padding-top:0;
                                width:100%; height:auto; align-items:center;
                                .small_thumbnails.instagram {
                                    height:450px;
                                }
                                .video_container {
                                    width:100%; @include flex-row; justify-content:center;
                                    padding:40px 0;
                                    iframe {
                                        width:800px; height:450px;
                                    }
                                }
                                .more_info {height:auto;}
                            }
                        }
                    }
                }
                .swiper-controls-group {
                    width:150px; height:100px;
                    bottom:0;
                    .swiper-pagination {
                        .swiper-pagination-current, .swiper-pagination-total {
                            font-size:$font-size-p-30;
                        }
                    }
                    .media-btn-prev, .media-btn-next {
                        width:24px; height:24px;
                    }
                }
            }
            section#projects {
                .project_card {
                    .project_card_wrapper {
                        .hashtag_more {
                            .hashtag_section {
                                gap:8px;
                                .hashtag {font-size:$font-size-p-16;}
                            }
                            .move_to_projects_btn {
                                width:40px; height:auto;
                            }
                        }
                    }
                }
            }
            section.project_section {
                @include flex-col; height:auto;
                .desc_section {
                    width:100%; @include flex-row; padding:0; gap:0;
                    border-bottom:$border;
                    .project_title {
                        border-right:$border; padding:140px 60px 100px;
                        .project_page_type {@include basic_wide_txt;}
                    }
                    .project_desc {
                        border-top:0; padding:60px;
                        gap:20px;
                        p {font-size:$font-size-p-14;}
                    }
                }
                .mockup_section {
                    width:100%; height:auto;
                    .projects_index {padding:40px;}
                    .mockup {}
                }
            }
            #project_01_esther, #project_02_alternativestereo, #project_03_samick, #project_04_marithe {
            .mockup_section {
                width:100%; height:800px;
                .mockup {background-position:center 40px;}
                }
            }
            #project_01_esther, #project_02_alternativestereo, #project_03_samick, #project_04_marithe {
                .desc_section {
                    .project_desc {
                        border-top:0;
                    }
                }
            }
            section#graphics {
                h2 {font-size:$font-size-h1-50;}
            }
            section#contact {
                height:auto; padding:60px 0;
            }
        }
    }
}
@media screen and (max-width:950px) {
    body {
        main {
            h2 {font-size:$font-size-h1-56;}
            section#cover {
                #ellipse_container {
                    width:1200px; height:750px;
                        .ellipse_wrap {
                            .ellipse_outline {
                                width:700px; height:320px;
                            }
                            .dot {width:12px; height:12px;}
                        }
                }
                .shape_effect {
                    width:160px; height:70px;
                }
            }
            section#media {
                #media_swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            .mockup_section {
                                .more_info {
                                    padding:20px 40px;
                                    p {font-size:$font-size-p-40;}
                                }
                            }
                        }
                    }
                }
            }
            section#projects {
                height:auto; padding:0;
                @include flex-col; align-items:stretch; border-right:0; border-bottom:$border; justify-content:flex-start;
                h2 {color:$color-black; font-size:$font-size-h1-50;}
                .project_card {
                    height:180px; width:100%; border-bottom:$border;
                    flex:1;
                    .project_card_wrapper {
                        top:0; left:0; padding:0 40px; gap:8px;
                        .project_num {font-size:$font-size-h-80; font-weight:$font-weight-sbold; @include en-font-point;}
                        .project_name {font-size:$font-size-h3-32; font-weight:$font-weight-med; @include en-font;}
                        .hashtag_more {
                            width:100%;
                            @include flex-row; justify-content:space-between; align-items:flex-end;
                            .hashtag_section {
                                @include flex-col; gap:10px;
                                .hashtag {font-size:$font-size-p-16;}
                            }
                            .move_to_projects_btn {display:none;}
                        }
                    }
                }
                .card1::before, .card2::before, .card3::before, .card4::before {
                    background-size:40%; background-position:right; bottom:0; display:inline-block; opacity:1;
                }
            }
            section.project_section {
                .desc_section {
                    .project_title {padding:120px 32px 80px;
                        .project_num {font-size:$font-size-h-150;}
                        .project_name {font-size:$font-size-h1-50;}
                        .project_page_type {@include basic_txt;}
                    }
                    .project_desc {
                        border-top:0; padding:60px;
                        gap:20px;
                        p {font-size:$font-size-p-14;}
                    }
                }
                .mockup_section {
                    .projects_index {
                        li {
                            a {
                                .project_num_index {
                                    font-size:$font-size-p-30;
                                }
                                .project_name_index {
                                    font-size:$font-size-p-24;
                                }
                            }
                        }
                    }
                    .project_button_sets {
                        .project_btn {
                            width:100px; height:100px;
                            a {
                                font-size:$font-size-p-14;
                            }
                        }
                    }
                }
            }
            #project_01_esther, #project_02_alternativestereo, #project_03_samick, #project_04_marithe {
                .mockup_section {
                    width:100%; height:700px;
                    .mockup {background-position:bottom; background-size:120%;}
                }
            }
        }
    }
}
@media screen and (max-width:850px) {
    body {
        main {
            h2 {font-size:$font-size-h1-56;}
            section#about_me {
                .contents {
                    .photo_section {
                        .shape_effect {
                            top:0; left:15%;
                            width:40px; height:60px;
                        }
                        .shape_effect_copy {
                            top:15%; right:15%;
                            width:60px; height:90px;
                        }
                    }
                    .desc_section {
                        .skills {
                            .skills_wrap {
                                .skill_set {
                                    @include flex-row;
                                    .each_skill {
                                        .desc {display:none;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
            section#media {
                #media_swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            .mockup_section {
                                .video_container {
                                    
                                }
                                .more_info {
                                    padding:20px 40px;
                                    p {font-size:$font-size-p-40;}
                                }
                            }
                        }
                    }
                }
            }
            section.project_section {
                .desc_section {
                    .project_title {padding:120px 32px 80px;
                        .project_num {font-size:$font-size-h-150;}
                        .project_name {font-size:$font-size-h1-50;}
                        .project_page_type {@include basic_txt;}
                    }
                    .project_desc {
                        border-top:0; padding:60px;
                        gap:20px;
                        p {font-size:$font-size-p-14;}
                    }
                }
                .mockup_section {
                    .projects_index {
                        li {
                            a {
                                .project_num_index {
                                    font-size:$font-size-h2-28;
                                }
                                .project_name_index {
                                    font-size:$font-size-p-20;
                                }
                            }
                        }
                    }
                }
            }
            #project_01_esther, #project_02_alternativestereo, #project_03_samick, #project_04_marithe {
                .mockup_section {
                    width:100%; height:600px;
                    .mockup {background-position:bottom; background-size:110%;}
                }
            }
        }
    }
}
@media screen and (max-width:800px) {
    body {
        header {
            a {font-size:$font-size-p-14;}
        }
        main {
            section#cover {
                #ellipse_container {
                    width:1200px; height:360px;
                    overflow:hidden;
                        .ellipse_wrap {
                            .ellipse_outline {
                                width:600px; height:280px;
                            }
                            .dot {width:12px; height:12px;}
                        }
                }
                .main_contents {
                    .main_txt {
                        h1 {font-size:$font-size-h-100;}
                    }
                }
                .shape_effect {
                    width:160px; height:70px;
                    top:30%;
                }
            }
            section#about_me {
                .contents {
                    .photo_section {
                        .profile {
                            .about_me_desc {
                                @include basic_wide_txt;
                            }
                        }
                    }
                    .desc_section {
                        .personal_info {
                            padding:60px 44px; justify-content:center; align-items:flex-start;
                            .about_me_area { width:auto;
                                .academy {
                                    width:90%;
                                }
                            }
                        }
                        .skills {
                            .skills_wrap {
                                .skills_wrap {
                                    padding:16px 0;
                                    .skill_set {
                                        gap:16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            section.project_section {
                .desc_section {
                    .project_title {
                        .project_num {font-size:$font-size-h-128; top:0;}
                        .project_name {font-size:$font-size-p-40;}
                    }
                }
                .mockup_section {
                    .projects_index {
                        li {
                            a {
                                .project_num_index {
                                    font-size:$font-size-h2-28;
                                }
                                .project_name_index {
                                    font-size:$font-size-p-20;
                                }
                            }
                        }
                    }
                    .project_button_sets {
                        .project_btn {
                            width:80px; height:80px;
                            a {
                                font-size:$font-size-p-12;
                            }
                        }
                    }
                }
            }
            #project_01_esther, #project_02_alternativestereo, #project_03_samick, #project_04_marithe {
                .mockup_section {
                    width:100%; height:540px;
                }
            }
            #project_04_marithe {
                .desc_section {
                    .project_title {
                        .project_name {font-size:$font-size-p-30;}
                    }
                }
            }
        }
    }
}
@media screen and (max-width:700px) {
    body {
        header {
            padding:0 40px 0 80px;;
        }
        main {
            h2 {font-size:$font-size-h1-50;}
            section#cover {
                #ellipse_container {
                    width:1000px; height:500px;
                    top:45%;
                        .ellipse_wrap {
                            .ellipse_outline {
                                width:440px; height:220px;
                            }
                            .dot {}
                        }
                }
                .main_contents {
                    .main_txt {
                        h1 {
                            font-size:$font-size-h-80;
                        }
                        .desc1 {
                            gap:80px;
                            .desc {font-size:$font-size-p-18;}
                        }
                        .desc2 {
                            .job_desc {
                                font-size:$font-size-h2-28; line-height:140%;
                            }
                        }
                    }
                }
                .shape_effect {
                    width:140px; height:60px;
                }
            }
            section#about_me {
                .contents {
                    .photo_section {
                        .shape_effect {
                            top:0; left:12%;
                            width:30px; height:50px;
                        }
                        .shape_effect_copy {
                            top:10%; right:12%;
                            width:50px; height:80px;
                        }
                        img {width:140px;}
                    }
                    .desc_section {
                        .personal_info {
                            gap:20px;
                            .about_me_area {
                                .academy {
                                    width:82%; display:flex; flex-flow:row wrap;
                                }
                            }
                        }
                        .skills {
                            .skills_wrap {
                                padding:16px 0 24px;
                                .skill_set {
                                    gap:16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:670px) {
    body {
        header {
            padding:0 40px 0 80px;
        }
        main {
            section#about_me {
                .contents {
                    .photo_section {
                        .shape_effect {
                            top:0; left:12%;
                            width:30px; height:50px;
                        }
                        .shape_effect_copy {
                            top:10%; right:10%;
                            width:40px; height:70px;
                        }
                        img {width:140px;}
                    }
                    .desc_section {
                        .personal_info {
                            @include flex-col; padding:40px 60px;
                            .about_me_area {gap:6px; align-items:flex-start; width:100%;
                                .about_me_desc {}
                                .academy {
                                    width:100%;
                                }
                            }
                        }
                        .skills {
                            .skills_wrap {
                                padding:16px 0 32px; gap:0;
                                .skill_set {
                                    gap:4px; padding:0 8px;
                                    .each_skill {
                                        .icon {
                                            img {width:36px; height:36px;}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            section#media {
                #media_swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            .txt_section {
                                flex:1; min-width:0;
                                .channel_desc {
                                    padding:0 0 20px; gap:16px;
                                    ul { 
                                        li {font-size:$font-size-p-14;}
                                    }
                                    p {font-size:$font-size-p-14;}
                                }
                                .accomplishment_tools {
                                    .accomplishment { padding:20px;
                                        li {font-size:$font-size-p-12;}
                                        li.accom_title {
                                            font-size:$font-size-p-14;
                                        }
                                    }
                                    .tools { padding:20px;
                                        li {font-size:$font-size-p-12;}
                                        li.tools_title {
                                            font-size:$font-size-p-14;
                                        }
                                    }
                                }
                            }
                            .mockup_section {
                                .small_thumbnails.instagram {
                                    height:350px;
                                }
                                .video_container {
                                    width:100%; @include flex-row; justify-content:center;
                                    padding:40px 0;
                                    iframe {
                                        width:600px; height:300px;
                                    }
                                }
                                .more_info {
                                    padding:16px 20px;
                                    p {font-size:$font-size-p-30;}
                                }
                            }
                        }
                    }
                }
                .swiper-controls-group {
                    width:120px; height:80px;
                    bottom:0;
                    .swiper-pagination {
                        .swiper-pagination-current, .swiper-pagination-total {
                            font-size:$font-size-p-24;
                        }
                    }
                    .media-btn-prev, .media-btn-next {
                        width:20px; height:20px;
                    }
                    .media-btn-next {left:100%;}
                    
                }
            }
            section#projects {
                .project_card {
                    height:160px;
                    .project_card_wrapper {gap:8px; padding:20px 40px;
                        .project_num {font-size:$font-size-h1-64;}
                        .project_name {font-size:$font-size-h2-28;}
                        .hashtag_more {
                            .hashtag_section {
                                @include flex-col; gap:6px;
                                .hashtag {font-size:$font-size-p-14;}
                            }
                            .move_to_projects_btn {display:block;}
                        }
                    }
                }
                .card1::before, .card2::before, .card3::before, .card4::before {
                    background-size:50%; background-position:right;
                }
            }
            section.project_section {
                .desc_section {@include flex-col; padding:60px 40px 20px; gap:16px;
                    .project_title {border-right:0; padding:0; gap:12px;
                        .project_num {font-size:$font-size-h-100; top:0;}
                        .project_name {font-size:$font-size-p-40;}
                        .project_page_type {font-size:$font-size-p-16;}
                    }
                    .project_desc {
                        padding:20px 0;
                        p {line-height:180%;
                            strong, em {font-weight:$font-weight-med;}
                        }
                        .project_hashtag {font-size:$font-size-p-14;}
                        .project_tools { @include flex-row; gap:20px; align-items:center;
                            .tool_icon_sets {
                                li {
                                    width:24px; height:24px;
                                }
                            }
                        }
                    }
                }
                .mockup_section {
                    .projects_index {gap:24px;
                        li {
                            a {
                                .project_num_index {
                                    font-size:$font-size-h2-28;
                                }
                                .project_name_index {
                                    font-size:$font-size-p-20;
                                }
                            }
                        }
                    }
                    .project_button_sets { gap:30px;
                        .project_btn {
                            width:80px; height:80px;
                            a {
                                font-size:$font-size-p-12;
                            }
                        }
                    }
                }
            }
            #project_02_alternativestereo {
                .desc_section {
                    .project_desc {
                        .git_code {font-size:$font-size-p-14;}
                    }
                }
            }
            #project_01_esther, #project_02_alternativestereo, #project_03_samick, #project_04_marithe {
                .mockup_section {
                    width:100%; height:500px;
                    .mockup {background-size:120%;}
                }
            }
        }
    }
}
@media screen and (max-width:620px) {
    body {
        h2 {font-size:$font-size-h-48;}
        header {
            nav {
                a:nth-child(1) {display:none;}
            }
        }
        main {
            section#cover {
                .main_contents {
                    .main_txt {
                        padding:100px 60px 60px; align-items:right;
                        .desc1 {
                            @include flex-col; gap:20px; align-items:flex-end;
                            .desc:first-child {display:none;}
                            .desc {font-size:$font-size-p-18; text-align:right;}
                        }
                        .desc2 {
                            font: size $font-size-p-20;
                        }
                    }
                }
                .shape_effect {
                    width:160px; height:70px;
                    top:20%;
                }
            }
            section#about_me {
                .contents {
                    .photo_section {
                        .shape_effect {
                            top:0; left:12%;
                            width:30px; height:50px;
                        }
                        .shape_effect_copy {
                            top:10%; right:10%;
                            width:40px; height:70px;
                        }
                        img {width:140px;}
                    }
                    .desc_section {
                        .personal_info {
                            @include flex-col; padding:40px 60px;
                            .about_me_area {gap:8px; align-items:center; width:100%;
                                .about_me_desc {text-align:center;}
                                .academy {
                                    width:100%;
                                }
                            }
                        }
                        .skills {
                            .skills_wrap {
                                padding:16px 0 24px; @include flex-col;
                                .skill_set {
                                    gap:24px;
                                    .each_skill {
                                        .icon {
                                            img {width:40px; height:40px;}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            section#media {
                height:100vh !important;
                #media_swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            .mockup_section {
                                .small_thumbnails.instagram {
                                    height:240px;
                                }
                                .video_container {
                                    padding:20px;
                                    iframe {
                                        width:480px; height:240px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            section#projects { height:100vh !important;
                .project_card {
                    .project_card_wrapper {gap:8px; padding:0 40px; justify-content:center;
                        .project_num {font-size:$font-size-h1-64;}
                        .project_name {font-size:$font-size-h2-28;}
                        .hashtag_more {
                            .hashtag_section {
                                @include flex-col; gap:6px;
                                .hashtag {font-size:$font-size-p-14;}
                            }
                            .move_to_projects_btn {display:block;}
                        }
                    }
                }
                .card1::before, .card2::before, .card3::before, .card4::before {
                    display:none;
                }
            }
            section.project_section {
                height:100vh; @include flex-col;
                .desc_section {
                    padding:80px 40px 60px;
                    .project_title {
                    }
                    .project_desc {
                        p:first-child {display:none;}
                        .project_tools {
                            @include flex-col; gap:8px; align-items:flex-start;
                            p {display:block;}
                        }
                    }
                }
                .mockup_section {
                    height:100%; flex-grow:1;
                }
            }
            #project_01_esther, #project_02_alternativestereo, #project_03_samick, #project_04_marithe {
                .mockup_section {
                    width:100%; height:500px;
                    .mockup {background-size:130%;}
                }
            }
            section#graphics {
                padding:40px 20px 120px;
            }
        }
    }
}
@media screen and (max-width:500px) {
    body {
        header {
            padding:0 40px;
        }
        main {
            section#cover {
                #ellipse_container {
                width:400px; height:200px;
                .ellipse_wrap {
                    .ellipse_outline { /* 타원 윤곽선 */
                        width:360px; height:180px;
                        border:$border; border-radius:50%;
                    }
                    .dot {/* 움직이는 점 */
                        position:absolute; width:16px; height:16px;
                        background:black; border-radius:50%;
                    }
                }
            }
            }
            
        }
    }
}
@media screen and (max-width:440px) {
    body {
        header {
            padding:0 40px;
        }
        main {
            
        }
    }
}